.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: calculateRem(20px);

  p {
    color: $gray;
  }

  h2 {
    font-size: calculateRem(22px);
    line-height: normal;
  }

  &__title {
    margin-bottom: calculateRem(28px);
    font-size: calculateRem(36px);
    text-align: center;
  }

  &__form {
    padding: calculateRem(16px);
    position: relative;
    border-radius: 24px;
    width: 100%;
    max-width: calculateRem(665px);
    margin-bottom: calculateRem(24px);

    &:last-child {
      margin-bottom: 0;
    }

    &.error {
      padding: calculateRem(24px);
    }

    > * {
      z-index: 3;
      position: relative;
    }

    &:before {
      content: '';
      border-top: 2px solid #21293A;
      background: linear-gradient(180deg, rgba(26, 34, 54, 0.00) 0%, #1A2236 100%), rgba(0, 0, 0, 0.50);
      backdrop-filter: blur(24.950000762939453px);
      @include fullscreen();
      border-radius: 24px;
      z-index: 2;
    }
  }

  &__image {
    margin: 0 auto calculateRem(24px);
    @include size(calculateRem(187px));

    img {
      @include size(100%);
      object-fit: contain;
    }
  }

  &__icons {
    @include fullscreen();
    z-index: 1;

    &:before, &:after {
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }

    &:before {
      @include size(calculateRem(338px));
      background-image: url("../images/icon1.png");
      left: -30%;
    }

    &:after {
      @include size(calculateRem(474px));
      background-image: url("../images/icon2.png");
      right: -42%;
    }
  }

  &__file {
    display: flex;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    padding: calculateRem(16px) calculateRem(24px);
    margin-bottom: calculateRem(24px);

    > * {
      z-index: 1;
      position: relative;
    }

    &:before {
      content: '';
      border-radius: 16px;
      border-top: 1px solid rgba(255, 255, 255, 0.20);
      background: linear-gradient(180deg, rgba(26, 34, 54, 0.00) 0%, rgba(26, 34, 54, 0.60) 100%);
      box-shadow: 0 4px 14.4px 0 rgba(0, 0, 0, 0.00);
      backdrop-filter: blur(45.25px);
      @include fullscreen();
    }

    &__icon {
      color: $white;
      margin-right: calculateRem(24px);
    }

    &__text {
      flex: 1;

      h2 {
        margin-bottom: calculateRem(4px);
      }
    }
  }

  &__link {
    border-radius: 16px;
    position: relative;
    padding: calculateRem(16px) calculateRem(24px);
    @extend %displayFlex;
    margin-bottom: calculateRem(24px);

    p {
      color: $white;
    }

    > * {
      z-index: 1;
      position: relative;
    }

    &:before {
      content: '';
      @include fullscreen();
      border-radius: 16px;
      border-top: 1px solid rgba(255, 255, 255, 0.20);
      background: linear-gradient(180deg, rgba(26, 34, 54, 0.00) 0%, rgba(26, 34, 54, 0.60) 100%);
      box-shadow: 0 4px 14.4px 0 rgba(0, 0, 0, 0.00);
      backdrop-filter: blur(45.25px);
    }

    &__btn {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: calculateRem(40px);
      cursor: pointer;

      svg {
        position: absolute;
        left: calculateRem(-24px);
      }
    }

    &__msg {
      position: absolute;
      bottom: 100%;
      margin-bottom: calculateRem(10px);
      white-space: nowrap;
      left: 50%;
      transform: translateX(-50%);
      width: calculateRem(240px);
      height: calculateRem(73px);
      background-image: url('../images/copy-bg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      justify-content: center;
      padding-top: calculateRem(18px);
      pointer-events: none;
      animation: bounce 2s ease infinite;

      &.hide {
        opacity: 0;
      }

      &.top-bar-msg {
        position: fixed;
        transform: unset;
        top: calculateRem(16px);
        left: calculateRem(150px);
        background-image: url('../images/top-bar-bg.png');
        padding-top: calculateRem(32px);
        z-index: 5;
        animation: bounce-top 2s ease infinite;
        @extend %transition;
        opacity: 0;

        &.active {
          opacity: 1;
        }
      }

      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0) translateX(-50%);
        }
        40% {
          transform: translateY(-30px) translateX(-50%);
        }
        60% {
          transform: translateY(-15px) translateX(-50%);
        }
      }

      @keyframes bounce-top {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-30px);
        }
        60% {
          transform: translateY(-15px);
        }
      }
    }
  }

  &__pass {
    text-align: center;
  }
}