.popup {
  @include fullscreen();
  position: fixed;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  @extend %transition;
  display: flex;
  align-items: center;
  justify-content: center;

  &.open{
    opacity: 1;
    pointer-events: auto;
  }

  $this: &;

  &__blur {
    @include fullscreen();
    z-index: 10;
    background-color: rgba($black, .2);
  }

  &__close {
    @include size(calculateRem(22px));
    background-color: rgba(#404040, .2);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 calculateRem(-12px) calculateRem(12px) auto;
    cursor: pointer;
    @extend %transition;

    &:hover {
      background-color: $red;
    }

    &:before, &:after {
      content: '';
      width: 2px;
      height: calculateRem(12px);
      background-color: $white;
      position: absolute;
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }

  &__body {
    position: absolute;
    max-height: 100%;
    overflow-y: auto;
    z-index: 15;
    background-color: $white;
    width: calculateRem(670px);
    @extend %scroll;
  }

  @include media("<=tablet") {
    &__body {
      width: 90%;
      max-height: 90%;

    }
    &__close {
      @include size(25px);
      margin-bottom: 12px;

      &:before, &:after {
        height: 12px;
      }
    }
  }
}

input:checked + {
  .popup {
    opacity: 1;
    pointer-events: auto;
  }
}